div#banner {
    text-align: left;
    margin-bottom: 0px;
    border-bottom: 4px solid black;
}

div#banner h1 {
    width: auto;
}

div#content {
    border-left: 4px solid black;
    margin-left: 0px;
    padding-left: 10px;
}

div#navigation {
    text-align: right;
    margin-top: 0px;
}

div#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
}

div#navigation li {
    list-style-type: none;
    padding: 3px 0px 3px 0px;
}

/* don't let code blocks stretch too far */
pre {
    overflow: scroll;
    background-color: #eeeeee;
}
