$$basecolor: $color$;
$$bgcolorpre: lighten($$basecolor, 30%);
$$bgcolorout: darken($$basecolor, 50%);
$$linkcolor: darken($$basecolor, 15%);

a {
    &:link {color:$$linkcolor;}
    &:visited {color: darken($$linkcolor, 20%);}
    &:hover {
        text-decoration: none;
        background-color: $$bgcolorpre;
    }
    &:active {color: lighten($$linkcolor, 10%);}
}

html, body {
    background-color: $$bgcolorout;
}

div#banner {
    img {
        background-color: $$basecolor;
    }
}

pre {
    background-color: $$bgcolorpre;
}

code {
    background-color: $$bgcolorpre;
}
