<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Brian Shourd - $siteTitle$</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <!-- <link rel="stylesheet" type="text/css" href="/css/colorize.css" /> -->
        <link rel="alternate"
              type="application/rss+xml"
              title="Brian Shourd"
              href="/rss.xml" />
        $mathjax$
        <style type="text/css">$colorize$</style>
    </head>
    <body>
        <div class="container" role="main">
            <div class="grid" id="main">
                <div id="head">
                    <div class="unit one-of-four" id="navigation">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/posts.html">Blog</a></li>
                            <li><a href="/about.html">About</a></li>
                            <li><a href="http://github.com/brianshourd">Github</a></li>
                        </ul>
                    </div>
                    <div class="unit one-of-two" id="banner">
                        <img src="/images/logo2.png">
                    </div>            
                    <div class="unit one-of-four" id="location">
                    </div>
                </div>

                <div class="unit span-grid" id="content">
                    $body$
                </div>
            </div>
        </div>
    </body>
</html>
