<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Brian Shourd - $siteTitle$</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="alternate"
              type="application/rss+xml"
              title="Brian Shourd"
              href="/rss.xml" />
        $mathjax$
    </head>
    <body>
        <div class="wrap">
                <div id="banner" class="grid-12">
                    <h1>Brian Shourd - $siteTitle$</h1>
                </div>            
            <div class="grids" id="main">
                <div id="navigation" class="grid-2">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts.html">Blog</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li><a href="http://github.com/brianshourd">Github</a></li>
                    </ul>
                </div>

                <div id="content" class="grid-10">
                    $body$
                </div>
            </div>
        </div>
    </body>
</html>
