    <div class="grid">    
        <div id="posts" class="unit span-grid">
            <h1>Recent posts</h1>
            <ul>
                $posts$
            </ul>
            <p><a href="/posts.html">All posts&hellip;</a></p>
        </div>

        <div id="tools" class="unit span-grid">
            <h1>Tools</h1>
            <p>
            This website is proudly built with open source software, especially:
            </p>
            <ul>
              <li><a href="http://jaspervdj.be/hakyll/">Hakyll</a></li>
              <li><a href="http://sass-lang.com/">Sass</a></li>
              <li><a href="http://daneden.me/toast/">Toast</a></li>
              <li><a href="http://www.mathjax.org/">MathJax</a></li>
            </ul>
            <p>
            See the <a href="https://github.com/brianshourd/brianshourd.com">full source on Github</a>.
            </p>
        </div>
    </div>
